extends ../common/layouts/base
include ../common/mixins/video

block content
    form(method='GET').search__form
        input(type="text" name="keyword" placeholder="Search by Title" required)
        button
            i.fab.fa-search
    div.video-grid
        each item in videos 
            +video(item)
        else 
            span.empty__message Sorry nothing found