extends common/layouts/base.pug
include common/mixins/video

block content
    h2 Welcome here you will see the trending Wetube videos
    div .video-grid 
        each item in videos 
            +video(item)
        else 
            span.empty__message Sorry nothing found

block scripts
    