extends layouts/base.pug
include mixins/video

block content
    form(method='GET')
        input(type="text" name="keyword" placeholder="Search by Title" required)
        input(type="submit" value="Search now")
    div 
        each item in videos 
            +video(item)
        else 
            div Sorry nothing found